/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

.field-node--field-author .field__item + .field__item:before {
  content: ", ";
}

img.site-branding__logo-img {
  width: 97px;
}

.facets-widget-range_slider .item-list__range_slider {
  list-style-type: none;
  padding-left: 1rem;
}

ul.menu-name--main li.menu__item {
  display: inline-block;
  padding-right: 2rem;
}

article.node--view-mode-search-result div.field-formatter-pdfpreview {
  float: left;
  padding-right: 1rem;
}

article.node--view-mode-search-result div.field-node--field-date.clearfix:after {
  clear: none;
}

article.node--view-mode-search-result div.field-node--field-author.clearfix:after {
  clear: none;
}

article.node--view-mode-search-result div.field-node--field-report-number.clearfix:after {
  clear: none;
}

@media screen and (min-width: 60.0625em) {

  article.node--view-mode-teaser div.field-node--field-image {
    float: right;
    padding-left: 1rem;
  }

}

article.node--view-mode-teaser div.field-node--field-author .field__item {
  display: inline-block;
}

article.node--view-mode-teaser div.field-node--field-excerpt.clearfix:after {
  clear: none;
}

.ui-slider-tip span {
  display: none;
}

.node-readmore {
  font-weight: bold;
}
